Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

PEP 664: Add release date for 3.11.0b3 (#2626)
  pep-0664.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0469.txt
  pep-0469.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: Use powerpc64le instead of powerpcle
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: fix CPU arch name for PowerPC64LE
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0257.txt
  pep-0257.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Accepted
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 681: mark as Accepted (#2630)
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 619: Update bugfix release dates
  pep-0619.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 619: Update bugfix release dates (#2631)
  pep-0619.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 257: Use sys.maxsize instead of sys.maxint (#2629)
  pep-0257.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Apply review comments
  pep-0692.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Break up lines
  pep-0692.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Run lint
  pep-0692.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add newlines after double semicolons, fix spelling error, break comments in examples up
  pep-0692.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 686: Mark PEP 686 as accepted.
  pep-0686.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 690: Barry review comments.
  pep-0690.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 686: Mark PEP 686 as accepted (#2632)
  pep-0686.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Squashed commit of the following:
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update conf.py
  conf.py
Due: none

PEP 690: A few more small edits
  pep-0690.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 690: Clarify that from-imports can also be lazy
  pep-0690.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Use Docutils' `list-table` syntax for PEP 0 (#2616)
  pep_sphinx_extensions/pep_processor/transforms/pep_zero.py
  pep_sphinx_extensions/pep_theme/static/style.css
  pep_sphinx_extensions/pep_zero_generator/parser.py
  pep_sphinx_extensions/pep_zero_generator/writer.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

Infra: Refactor `peps.json` logic into PEP class (#2585)
  pep_sphinx_extensions/pep_zero_generator/parser.py
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
Due: none

Infra: more concise table headers
  pep_sphinx_extensions/pep_zero_generator/writer.py
Due: none

Support subindices
  .pre-commit-config.yaml
  contents.rst
  pep_sphinx_extensions/pep_zero_generator/constants.py
  pep_sphinx_extensions/pep_zero_generator/parser.py
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
  pep_sphinx_extensions/pep_zero_generator/subindices.py
  pep_sphinx_extensions/pep_zero_generator/writer.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_pep_index_generator.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_writer.py
Due: check-direct-rfc-links

PEP 0: Remove 'PEP' from table headers (#2635)
  pep_sphinx_extensions/pep_zero_generator/writer.py
Due: none

Fix lint rule
  .pre-commit-config.yaml
Due: none

Revert peps.json location change (for now!)
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
Due: none

Fix lint rule (second attempt)
  .pre-commit-config.yaml
Due: none

Append docnames
  pep_sphinx_extensions/pep_zero_generator/subindices.py
Due: none

Trois
  .pre-commit-config.yaml
Due: none

Fix 0 pages case
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
  pep_sphinx_extensions/pep_zero_generator/writer.py
Due: none

PEP 520: remove redundant reference
  pep-0520.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 520: convert orphaned references into bullet list to fix warnings
  pep-0520.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 520: convert reference into direct hyperlink
  pep-0520.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add PEP 609
  pep-0609.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 520: update reference links
  pep-0520.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
