Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

fixes
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

should not -> does not require
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 688
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

lint
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

rewording
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

codeowners
  .github/CODEOWNERS
Due: none

Update pep-0594.rst
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 594: Fix a typo (#2550)
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

more words, feedback from Adam
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add note on finding the RTD preview
  README.rst
Due: check-direct-rfc-links

CAMpliance
  README.rst
Due: check-direct-rfc-links

PEP 642: update status (#2547)
  pep-0642.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

reword first sentence
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Add note on finding the RTD preview (#2551)
  README.rst
Due: check-direct-rfc-links

add note on bytes/bytearray
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Apply CAM feedback
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

More CAM feedback
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

missed one
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Feedback from Alex
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

More feedback
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 688: Making the buffer protocol accessible in Python (#2549)
  .github/CODEOWNERS
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: update pytest invocation in tox.ini
  tox.ini
Due: none

Make the button into a tri state one
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
  pep_sphinx_extensions/pep_theme/static/colour_scheme.svg
  pep_sphinx_extensions/pep_theme/static/dark.css
  pep_sphinx_extensions/pep_theme/static/style.css
  pep_sphinx_extensions/pep_theme/templates/page.html
  pep_sphinx_extensions/pep_theme/templates/partials/icons.html
Due: none

Jinja comments
  pep_sphinx_extensions/pep_theme/templates/page.html
  pep_sphinx_extensions/pep_theme/templates/partials/icons.html
Due: none

Overhaul logic
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

no hardcoding
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
Due: none

docs
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
Due: none

PEP 688: Link to current docs
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 688: Link to current docs (#2553)
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Remove titles
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
  pep_sphinx_extensions/pep_theme/templates/partials/icons.html
Due: none

PEP 688: Add discussion links
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0688.rst
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 688: Add discussion links (#2554)
  pep-0688.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Address SC feedback
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0681.rst
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Apply suggestions from code review
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: Add Linux s390x to Tier 3 (#2543)
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 681: Address Steering Council feedback (#2555)
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 686: Postpone target version to 3.15
  pep-0686.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: add mailcap to the deprecation list
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
