Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$

Lint: Tweak Post-History and Resolution checks to accept fragments
  .pre-commit-config.yaml
Due: none

Lint: Add check for Discussions-To header link
  .pre-commit-config.yaml
  pep-0245.txt
  pep-0255.txt
  pep-0387.txt
  pep-0480.txt
  pep-0581.rst
  pep-0588.rst
  pep-0592.rst
  pep-0599.rst
  pep-0609.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 628: Add direct link to resolution in acceptance message
  pep-0628.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Add check for Sponsor header
  .pre-commit-config.yaml
Due: none

Lint: Explictly allow all valid RFC 2822 line continuations in headers
  .pre-commit-config.yaml
Due: none

Lint: Disable a couple potentially problematic/unneeded hooks
  .pre-commit-config.yaml
Due: none

Lint: Add basic check for PEP title presense & excessive length
  .pre-commit-config.yaml
  pep-0500.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Refine regex for existing Content-Type and PEP references checks
  .pre-commit-config.yaml
Due: none

Lint: Refine regex for Resolution check and fix a few deviations
  .pre-commit-config.yaml
  pep-0042.txt
  pep-0211.txt
  pep-0225.txt
  pep-0465.txt
  pep-0628.txt
  pep-0644.rst
  pep-0660.rst
  pep-0662.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Add check for legacy Author field format
  .pre-commit-config.yaml
  pep-0246.txt
  pep-0263.txt
  pep-0282.txt
  pep-0310.txt
  pep-0372.txt
  pep-0477.txt
  pep-0754.txt
  pep-3111.txt
  pep-3138.txt
  pep-3140.txt
  pep-3145.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: Add Linux s390x to Tier 3
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Style: Retitle inline 'Contents' to 'Table of Contents' for clarity (#2541)
  pep_sphinx_extensions/pep_processor/html/pep_html_translator.py
Due: none

PEP 11: Add Discussions section
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: add tests
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
  pep_sphinx_extensions/pep_zero_generator/author.py
  pep_sphinx_extensions/tests/__init__.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_headers.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_zero.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_author.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_pep_index_generator.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_writer.py
  pep_sphinx_extensions/tests/peps/pep-9000.rst
  pep_sphinx_extensions/tests/peps/pep-9001.rst
  pep_sphinx_extensions/tests/utils.py
  requirements.txt
  tox.ini
Due: check-direct-rfc-links

Fix platform format
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: Add Discussions section (#2544)
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Optimize images to reduce file size by 25-50% for free
  pep-0458-1.png
  pep-0480-1.png
  pep-0495-daylightsavings.png
  pep-0525-1.png
  pep-0602-example-release-calendar.png
  pep-0602-overlapping-support-matrix.png
  pep-0605-example-release-calendar.png
  pep-0605-overlapping-support-matrix.png
  pep-3147-1.png
Due: none

Lint: Switch PEPs with SVGs over to using them and remove old PNGs
  pep-0001-process_flow.png
  pep-0001.txt
  pep-0495-fold-2.png
  pep-0495-gap.png
  pep-0495.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: Add back and update Post-History header with direct links
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: add comment to explain magic number
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
Due: none

Infra: remove redundant parentheses
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

Infra: remove unused code, handled via author override instead
  pep_sphinx_extensions/pep_zero_generator/author.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_author.py
Due: none

Infra: prettify Pep->PEP like Sig->SIG
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_headers.py
Due: none

Infra: add xfailing case with 'first at example.com'
  pep_sphinx_extensions/tests/pep_zero_generator/test_author.py
Due: none

Infra: deduplicate test with parametrize
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

Infra: test legacy format and pseudo-obfuscated email
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

Apply suggestions from code review
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

First draft of Buffer PEP
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

make it render
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix typo (#2)
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

pep-0440.txt
  pep-0440.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 642: update status
  pep-0642.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Optimize images to reduce file size by 1.5-2x for free (#2542)
  pep-0001-process_flow.png
  pep-0001.txt
  pep-0458-1.png
  pep-0480-1.png
  pep-0495-daylightsavings.png
  pep-0495-fold-2.png
  pep-0495-gap.png
  pep-0495.txt
  pep-0525-1.png
  pep-0602-example-release-calendar.png
  pep-0602-overlapping-support-matrix.png
  pep-0605-example-release-calendar.png
  pep-0605-overlapping-support-matrix.png
  pep-3147-1.png
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: apply suggestions from code review
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
Due: none

Infra: add pytest config
  pytest.ini
Due: none

Infra: simplify to assert link is good (plus let docutils do its thing)
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
Due: none

Infra: test on Windows
  .github/workflows/test.yml
  tox.ini
Due: none

Infra: install requirements only once, via make pages
  .github/workflows/render.yml
Due: none

write some more
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links
