Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

Some formatting
  pep-0724.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Rejection notice
  pep-0713.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update the Python 3.12.0rc2 release date.
  pep-0693.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 693: Update the Python 3.12.0rc2 release date. (#3426)
  pep-0693.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 713: Mark as Rejected (#3423)
  pep-0713.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0724.rst
  pep-0724.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 561: Clarify `\n`
  pep-0561.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 727: Review (#3316)
  pep-0727.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Add Ruff
  .pre-commit-config.yaml
  .ruff.toml
  pep_sphinx_extensions/tests/pep_lint/test_date.py
  pep_sphinx_extensions/tests/pep_lint/test_email.py
  pep_sphinx_extensions/tests/pep_lint/test_headers.py
  pep_sphinx_extensions/tests/pep_lint/test_post_url.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_headers.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_zero.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_writer.py
Due: none

CODEOWNERS
  .github/CODEOWNERS
Due: none

Lint: Add Ruff (#3429)
  .github/CODEOWNERS
  .pre-commit-config.yaml
  .ruff.toml
  pep_sphinx_extensions/tests/pep_lint/test_date.py
  pep_sphinx_extensions/tests/pep_lint/test_email.py
  pep_sphinx_extensions/tests/pep_lint/test_headers.py
  pep_sphinx_extensions/tests/pep_lint/test_post_url.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_headers.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_zero.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_writer.py
Due: none

Instruct linguist to include PEPs in the statistics
  .gitattributes
Due: none

Meta: Instruct linguist to include PEPs in the statistics (#3430)
  .gitattributes
Due: none

Add ``.git-blame-ignore-revs``
  .git-blame-ignore-revs
  .github/CODEOWNERS
Due: none

Update footer logic
  pep_sphinx_extensions/pep_processor/transforms/pep_footer.py
Due: none

Move to ``peps/``
  peps/pep-0724.rst
Due: check-direct-rfc-links

Whitespace
  peps/pep-0724.rst
Due: check-direct-rfc-links

Add trailing comma
  peps/pep-0724.rst
Due: check-direct-rfc-links

Copyright formatting
  peps/pep-0724.rst
Due: check-direct-rfc-links

Ruff's pre-commit hook should be placed after other formatting tools, such as Black
  .pre-commit-config.yaml
Due: none

Only use GitHub format for GitHub Actions, not local console
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

--diff prevents 'RUFF_FORMAT: github' from annotating PRs
  .pre-commit-config.yaml
Due: none

Lint: Update Ruff config (#3433)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

Update peps/pep-0724.rst
  peps/pep-0724.rst
Due: check-direct-rfc-links

More review feedback
  peps/pep-0724.rst
Due: check-direct-rfc-links

Add section on binding rules
  peps/pep-0696.rst
Due: check-direct-rfc-links

PEP 696: Add section on binding rules (#3427)
  peps/pep-0696.rst
Due: check-direct-rfc-links

Add Python version to PEP 0 tables
  pep_sphinx_extensions/pep_zero_generator/parser.py
  pep_sphinx_extensions/pep_zero_generator/writer.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

Test pep.details with and without a target Python version
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

Updates from Eric Traut
  peps/pep-0724.rst
Due: check-direct-rfc-links

Fix build and linter
  peps/pep-0724.rst
Due: check-direct-rfc-links

Try fixing post history
  peps/pep-0724.rst
Due: check-direct-rfc-links

Fix post history again
  peps/pep-0724.rst
Due: check-direct-rfc-links

app file
  application.properties
Due: none

add properties in app file
  application.properties
Due: none

as per require
  application.properties
Due: none

Update application.properties
  application.properties
Due: none

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
