Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

PEP 541: Fix markup in nested lists
  pep-0541.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 541: Fix markup in nested lists (#2362)
  pep-0541.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0683.rst
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 683: Implement minor typographical changes (#2342)
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Use Node.findall
  generate_rss.py
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
Due: none

PEP 676: Use `docutils.nodes.Node.findall` (#2363)
  generate_rss.py
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
Due: none

PEP 676: Fixup "Use `docutils.nodes.Node.findall`"
  generate_rss.py
Due: none

Add PEP titles and sections as reference title text
  pep_sphinx_extensions/__init__.py
  pep_sphinx_extensions/pep_processor/parsing/pep_role.py
  pep_sphinx_extensions/pep_processor/transforms/pep_references.py
Due: none

Update the post history.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Expand the abstract.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Be a little less specific.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Drop the old scope section.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 12: Update outdated image and comment formatting guidance
  pep-0012.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update the performance numbers.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Elaborate on refcounts and accidental immortality.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update, copyedit and format README and Contributing Guide (#2352)
  CONTRIBUTING.rst
  README.rst
Due: check-direct-rfc-links

Address review
  pep_sphinx_extensions/pep_processor/parsing/pep_role.py
  pep_sphinx_extensions/pep_processor/transforms/pep_references.py
Due: none

Simplify
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

PEP 12: Update outdated image and comment formatting guidance (#2365)
  pep-0012.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Typo: parenthesize -> parentheses
  pep-0572.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Use PEP titles and sections as title text for `:pep:` references (#2366)
  pep_sphinx_extensions/__init__.py
  pep_sphinx_extensions/pep_processor/parsing/pep_role.py
  pep_sphinx_extensions/pep_processor/transforms/pep_references.py
Due: none

Typo: parenthesize -> parentheses (#2370)
  pep-0572.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Clarify how the PEP supports immutability rather than enforcing it.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Clarify about the refcount 1.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Clarify about the immortal bit.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Drop some explanation about immortal global objects.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Relate cleanup to performance.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add a note about __del__ and weakrefs.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Drop an open question.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add a note about GC.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Simplify transform_descriptor_types description
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Apply suggestions from code review
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Outline solutions to accidental de-immortalizing.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Collapse the abstract.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Tweak the scope section.
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

lint
  pep-0683.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
