Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$

Lint: Enable pre-commit default role checks
  .pre-commit-config.yaml
Due: none

Lint: Enable pre-commit default role checks (#3415)
  .pre-commit-config.yaml
Due: none

PEP 725: Fix example using `project.optional-dependencies`
  pep-0725.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 725: Fix example using `project.optional-dependencies` (#3416)
  pep-0725.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Delete ``AUTHOR_OVERRIDES.csv`` from ``CODEOWNERS``
  .github/CODEOWNERS
Due: none

Use absolute paths in ``conf.py``
  conf.py
Due: none

Use absolute paths in tests
  pep_sphinx_extensions/tests/conftest.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_pep_index_generator.py
Due: none

Prepare for moving PEPs to a subfolder
  pep_sphinx_extensions/pep_processor/parsing/pep_banner_directive.py
  pep_sphinx_extensions/pep_processor/transforms/pep_footer.py
  pep_sphinx_extensions/pep_theme/templates/page.html
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
  pep_sphinx_extensions/pep_zero_generator/subindices.py
  pep_sphinx_extensions/pep_zero_generator/writer.py
Due: none

tests
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

Infra: Prepare for moving PEPs to a subfolder (#3417)
  .github/CODEOWNERS
  conf.py
  pep_sphinx_extensions/pep_processor/parsing/pep_banner_directive.py
  pep_sphinx_extensions/pep_processor/transforms/pep_footer.py
  pep_sphinx_extensions/pep_theme/templates/page.html
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
  pep_sphinx_extensions/pep_zero_generator/subindices.py
  pep_sphinx_extensions/pep_zero_generator/writer.py
  pep_sphinx_extensions/tests/conftest.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_pep_index_generator.py
Due: none

Update supporting files
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE/Add a new PEP.md
  .gitignore
  .pre-commit-config.yaml
  docs/rendering_system.rst
  peps/contents.rst
Due: check-direct-rfc-links

PEPs are now in a subfolder
  pep_sphinx_extensions/pep_processor/transforms/pep_footer.py
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
  peps/conf.py
Due: none

Source link is always .rst
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

Tests use .rst suffix
  pep_sphinx_extensions/tests/conftest.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_pep_index_generator.py
Due: none

Update paths in Makefile & build.py; fix pre-commit
  .pre-commit-config.yaml
  Makefile
  build.py
Due: none

Restore executability
  peps/pep-0418/clockutils.py
  peps/pep-0426/pepsort.py
  peps/pep-0465/scan-ops.py
Due: none

Notes from review
  .gitignore
  .pre-commit-config.yaml
Due: none

Further gitignore updates
  .gitignore
Due: none

Keep groups sorted lexicographically (save PEPs)
  .gitignore
Due: none

Update documentation and build.py
  build.py
  docs/build.rst
  docs/rendering_system.rst
Due: check-direct-rfc-links

Smaller difference
  .pre-commit-config.yaml
Due: none

Even smaller difference
  .pre-commit-config.yaml
Due: none

Infra: Update documentation and ``build.py`` (#3420)
  build.py
  docs/build.rst
  docs/rendering_system.rst
Due: check-direct-rfc-links

Further supporting files updates
  build.py
  docs/rendering_system.rst
Due: check-direct-rfc-links

remove headers and emacs stanza
  pep-0499.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 499: Shorten the title (#3325)
  pep-0499.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

pre-commit tweaks
  .pre-commit-config.yaml
Due: none

match indentation
  pytest.ini
Due: none

Extract default re flags out
  check-peps.py
Due: none

Not using types_or any more
  .pre-commit-config.yaml
Due: none

Consolidate paths
  pep_sphinx_extensions/tests/conftest.py
Due: none

Use actions/checkout version 4
  .github/workflows/lint.yml
  .github/workflows/render.yml
  .github/workflows/test.yml
Due: none

Lint: Add ``check-peps.py`` (#3275)
  .github/CODEOWNERS
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  check-peps.py
  pep_sphinx_extensions/generate_rss.py
  pep_sphinx_extensions/tests/conftest.py
  pep_sphinx_extensions/tests/pep_lint/__init__.py
  pep_sphinx_extensions/tests/pep_lint/test_date.py
  pep_sphinx_extensions/tests/pep_lint/test_direct_links.py
  pep_sphinx_extensions/tests/pep_lint/test_email.py
  pep_sphinx_extensions/tests/pep_lint/test_headers.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_number.py
  pep_sphinx_extensions/tests/pep_lint/test_post_url.py
  pep_sphinx_extensions/tests/peps/pep-9002.rst
  pytest.ini
Due: check-direct-rfc-links

Update check-peps
  check-peps.py
Due: none

Infra: Use actions/checkout version 4 (#3422)
  .github/workflows/lint.yml
  .github/workflows/render.yml
  .github/workflows/test.yml
Due: none

whitespace
  pep_sphinx_extensions/tests/conftest.py
Due: none

PEP 713: Mark as Rejected
  pep-0713.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Move degenerate case
  pep-0724.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links
