Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$

Meta: Group Accepted Meta-PEPs with Active, not historical
  pep_sphinx_extensions/pep_zero_generator/writer.py
Due: none

PEP 594: Mark as accepted
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 594: Mark as Accepted (#2414)
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 594: Set Resolution header
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add vertical whitespace
  generate_rss.py
Due: none

PEP 594: Set Resolution header (#2416)
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PRS: Remove artifact upload
  .github/workflows/render.yml
Due: none

PEP 685: address more feedback
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Remove artifact upload (#2417)
  .github/workflows/render.yml
Due: none

PEP 685: address more feedback (#2418)
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Name this protocol to match usage
  pep-0673.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix example generic class name
  pep-0673.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

New Brunthaler link, freely downloadable
  pep-0659.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 659: Link to final version of Brunthaler paper (#2412)
  pep-0659.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 673: Fix a couple of typos (#2419)
  pep-0673.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PRS: Explicitly list files to render
  conf.py
  pep_sphinx_extensions/__init__.py
Due: none

PRS: Fix RSS generation and resolve all warnings (#2413)
  generate_rss.py
Due: none

PRS: Support redirects
  conf.py
  pep_sphinx_extensions/pep_theme/templates/not_found.html
Due: none

Lint: call tools inside venv using make's PYTHON (#2408)
  Makefile
Due: none

PEP 440: note that setuptools comparison is historical
  pep-0440.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 440: note that setuptools comparison is historical (#2422)
  pep-0440.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Exclude .git directory from Sphinx processing
  conf.py
Due: none

Meta: Classify Accepted Process PEPs as current; PEP 8001: Mark as Final (#2385)
  pep-8001.rst
  pep_sphinx_extensions/pep_zero_generator/writer.py
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-rfc-links

Infra: Add .git and remove redundant env/venv from exclude_patterns
  conf.py
Due: none

Infra: More clearly define, describe and organize exclude patterns
  conf.py
Due: none

Break to reST and plaintext
  conf.py
Due: none

Remove JS method
  conf.py
  pep_sphinx_extensions/pep_theme/templates/not_found.html
Due: none

Add http-equiv method
  pep_sphinx_extensions/__init__.py
  pep_sphinx_extensions/pep_processor/html/pep_html_redirects.py
  pep_sphinx_extensions/pep_theme/templates/redirect.html
Due: none

Hopefully speed up
  pep_sphinx_extensions/pep_processor/html/pep_html_redirects.py
  pep_sphinx_extensions/pep_theme/templates/redirect.html
Due: none

Numericise
  pep_sphinx_extensions/pep_processor/html/pep_html_redirects.py
Due: none

Remove automatic table of contents
  pep_sphinx_extensions/pep_processor/parsing/pep_parser.py
  pep_sphinx_extensions/pep_processor/transforms/pep_contents.py
  pep_sphinx_extensions/pep_processor/transforms/pep_section_linker.py
  pep_sphinx_extensions/pep_processor/transforms/pep_title.py
Due: none

Fix links in section headings
  pep-0249.txt
  pep-0512.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Revert "Remove automatic table of contents"
  pep_sphinx_extensions/pep_processor/parsing/pep_parser.py
  pep_sphinx_extensions/pep_processor/transforms/pep_contents.py
  pep_sphinx_extensions/pep_processor/transforms/pep_section_linker.py
  pep_sphinx_extensions/pep_processor/transforms/pep_title.py
Due: none

Toggleable ToC
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
  pep_sphinx_extensions/pep_processor/html/pep_html_translator.py
  pep_sphinx_extensions/pep_processor/transforms/pep_contents.py
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Restore definition list item margin
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Accessibility: Add aria-label to clearly describe the button
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

Remove field block highlighting
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Fix rule
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Explicitly list files to render in `conf.py` (#2415)
  conf.py
  pep_sphinx_extensions/__init__.py
Due: none

Styling: Remove field block highlights and restore definition list indent (#2425)
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none
