Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$

PEP 383, 421, 529, 689, 701, 706, 714, 715: Fix typos (#3202)
  pep-0383.txt
  pep-0421.txt
  pep-0529.txt
  pep-0689.rst
  pep-0701.rst
  pep-0706.rst
  pep-0714.rst
  pep-0715.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Get ball rolling on responding to some feedback
  pep-0718.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 693: Update 3.12.0b4 release date
  pep-0693.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix some nits
  pep-0718.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix lints
  pep-0718.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Meta: Remove overridden values in styles.css.
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Remove duplicated CSS properties in ``styles.css`` (#3204)
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Meta: Format pep_sphinx_extensions with black and isort, and some touch-ups.
  pep_sphinx_extensions/__init__.py
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
  pep_sphinx_extensions/pep_processor/html/pep_html_translator.py
  pep_sphinx_extensions/pep_processor/parsing/pep_banner_directive.py
  pep_sphinx_extensions/pep_processor/parsing/pep_parser.py
  pep_sphinx_extensions/pep_processor/parsing/pep_role.py
  pep_sphinx_extensions/pep_processor/transforms/pep_contents.py
  pep_sphinx_extensions/pep_processor/transforms/pep_footer.py
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
  pep_sphinx_extensions/pep_processor/transforms/pep_references.py
  pep_sphinx_extensions/pep_processor/transforms/pep_title.py
  pep_sphinx_extensions/pep_processor/transforms/pep_zero.py
  pep_sphinx_extensions/pep_zero_generator/author.py
  pep_sphinx_extensions/pep_zero_generator/constants.py
  pep_sphinx_extensions/pep_zero_generator/errors.py
  pep_sphinx_extensions/pep_zero_generator/parser.py
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
  pep_sphinx_extensions/pep_zero_generator/subindices.py
  pep_sphinx_extensions/pep_zero_generator/writer.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_headers.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
Due: none

PEP 257: update code example for Python 3
  pep-0257.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 693: Update 3.12.0b4 release date (#3203)
  pep-0693.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

reword some stuff
  pep-0720.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

add environment introspection section
  pep-0720.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

fix linting
  pep-0720.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 715: Fix link to packaging term (#3188)
  pep-0715.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix a typo in PEP 544
  pep-0544.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0393.txt
  pep-0393.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

fix typos
  pep-0720.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 722: Dependency specification for single-file scripts
  pep-0722.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

fix sys.thread_info output
  pep-0720.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 393: Use Internet Archive link to Django measurement results (#3211)
  pep-0393.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 720: add "Cross-compiling Python packages" PEP draft (#3192)
  .github/CODEOWNERS
  pep-0720.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 9999: Add PyResource callback C API to close resources
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Calling PyResource_Close() twice is safe
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix typo: overridden
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 554: Convert unreferenced footnote to bullet point
  pep-0554.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 554: Convert unreferenced footnote to bullet point (#3189)
  pep-0554.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Check Sphinx warnings
  .github/CODEOWNERS
  .github/workflows/render.yml
  .gitignore
  tools/.nitignore
  tools/check-warnings.py
Due: none

Remove pep-0554.rst from .nitignore
  tools/.nitignore
Due: none

Resolve all duplicated labels
  pep-0394.txt
  pep-0400.txt
  pep-0526.txt
  pep-0544.txt
  pep-0557.rst
  pep-0573.rst
  pep-0583.rst
  pep-0612.rst
  pep-0615.rst
  pep-0622.rst
  pep-0633.rst
  pep-0634.rst
  pep-0636.rst
  pep-0642.rst
  pep-0649.rst
  pep-0669.rst
  pep-0675.rst
  pep-0680.rst
  pep-0689.rst
  pep-0692.rst
  pep-0695.rst
  pep-0696.rst
  pep-0697.rst
  pep-0701.rst
  pep-0704.rst
  pep-0710.rst
  pep-0720.rst
  pep-3151.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Resolve duplicate citations in PEP 482 (convert all citations to links)
  pep-0482.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix markup
  pep-0701.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0639.rst to fix broken link to SPDX spec
  pep-0639.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

EXCLUDE_FILES not required for this repo
  tools/check-warnings.py
Due: none

A few more improvements
  pep-0718.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 718: Subscriptable functions (#3179)
  .github/CODEOWNERS
  pep-0718.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Remove emacs stanza
  pep-0544.txt
  pep-0557.rst
  pep-0573.rst
  pep-0583.rst
  pep-0622.rst
  pep-0636.rst
  pep-0669.rst
  pep-0675.rst
  pep-0680.rst
  pep-3151.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update ignore-words.txt
  .codespell/ignore-words.txt
Due: check-direct-rfc-links

Many PEPs: Resolve reference warnings (#3214)
  pep-0394.txt
  pep-0400.txt
  pep-0482.txt
  pep-0526.txt
  pep-0544.txt
  pep-0557.rst
  pep-0573.rst
  pep-0583.rst
  pep-0612.rst
  pep-0615.rst
  pep-0622.rst
  pep-0633.rst
  pep-0634.rst
  pep-0636.rst
  pep-0642.rst
  pep-0649.rst
  pep-0669.rst
  pep-0675.rst
  pep-0680.rst
  pep-0689.rst
  pep-0692.rst
  pep-0695.rst
  pep-0696.rst
  pep-0697.rst
  pep-0701.rst
  pep-0704.rst
  pep-0710.rst
  pep-0720.rst
  pep-3151.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 639: Fix the link to the SPDX specification (#3216)
  pep-0639.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Remove cleaned files from .nitignore
  tools/.nitignore
Due: none
