Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

purge CDN cache on deploy
  .github/workflows/render.yml
Due: none

yaml?
  .github/workflows/render.yml
Due: none

purge CDN cache on deploy (#2526)
  .github/workflows/render.yml
Due: none

Infra: Restore PEPs RSS feed in <head> (#2509)
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

PEP 681: grammar tweak
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

define peps fastly frontend with terraform
  infra/.gitignore
  infra/config.tf
  infra/main.tf
Due: none

add myself as codeowner of terraform/fastly
  .github/CODEOWNERS
Due: none

Terraform fastly service (#2527)
  .github/CODEOWNERS
  infra/.gitignore
  infra/config.tf
  infra/main.tf
Due: none

bump HSTS to reccommended settings
  infra/main.tf
Due: none

bump HSTS to reccommended settings (#2528)
  infra/main.tf
Due: none

PEP 645: Mark as Withdrawn (and as Standards Track)
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 645: Remove redundant footnote
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 645: Fix old reference to cpython/master branch to point to main instead
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Build Instructions: Prefer shell code-blocks over console ones
  docs/build.rst
Due: check-direct-rfc-links

Build Instructions: Emphasize that Python 3.9 or later is required
  docs/build.rst
Due: check-direct-rfc-links

Build Instructions: Fix to work with the latest Makefile
  docs/build.rst
Due: check-direct-rfc-links

Build Instructions: Prefer shell code-blocks over console ones (Part 2)
  docs/build.rst
Due: check-direct-rfc-links

PEP 671: Add Discussions-To header
  pep-0671.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 671: Revise Post-History
  pep-0671.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Withdrawl -> Withdrawal
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 671: Add Discussions-To header and Post-History (#2482)
  pep-0671.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 645: Mark source of Withdrawal clearly
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Wordsmith for brevity
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Wordsmithing
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 645: Mark as Withdrawn (and as Standards Track) (#2529)
  pep-0645.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 631: Update status to reflect incorperation into PEP 621
  pep-0631.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Remove no-longer-nessesary Emacs config block
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Remove spurious heading level and conform heading breaks/chars
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Copyedit the text of the PEP and add a few clarifying additions
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Use correct syntax highlighting declarations
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Use standard ASCII quotes in source
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Add proper link in Discusses-To header
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Use consistant case within and between section titles
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 630: Further revise and update to reflect reviewer input
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 631: Update status to reflect incorperation into PEP 621 (#2506)
  pep-0631.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0670.rst
  pep-0670.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 670: Mark as Accepted (#2522)
  pep-0670.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 687: amendments after feedback (#2521)
  pep-0687.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 681: Fix header links (#2507)
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: remove one of the four instances of title at top of pages
  pep_sphinx_extensions/pep_theme/static/style.css
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
