Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$

PEP 681: kw_only field descriptor parameter is supported (#2381)
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Remove discussion of alternate form (#2386)
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add a PEP for making the GIL per-interpreter.
  pep-06XX-per-interpreter-gil.rst
Due: check-direct-rfc-links

Fix dates.
  pep-06XX-per-interpreter-gil.rst
Due: check-direct-rfc-links

Set the PEP number.
  pep-06XX-per-interpreter-gil.rst
Due: check-direct-rfc-links

Change the filenme.
  pep-0684-per-interpreter-gil.rst
Due: check-direct-rfc-links

PEP 1/12: Clarify language around Post-History links & make anonymous
  pep-0001.txt
  pep-0012.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 1 & 12: More explictly describe Post-History link format
  pep-0001.txt
  pep-0012.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Remove entire Emacs configuration block
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Several PEPs: Fix Post-History with bare hyperlinks
  pep-0424.txt
  pep-0428.txt
  pep-3154.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PRS: Update Post-History processing for inline links
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

PRS: Update implementation
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

pep2html: New Post-History handling
  pep2html.py
Due: none

Several PEPs: Fix Post-History with extra information
  pep-0367.txt
  pep-0538.txt
  pep-0551.rst
  pep-0648.rst
  pep-3135.txt
  pep-3153.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Several PEPs: Fix Post-History syntax errors
  pep-0006.txt
  pep-0011.txt
  pep-0311.txt
  pep-0374.txt
  pep-0426.txt
  pep-0434.txt
  pep-0440.txt
  pep-0459.txt
  pep-0467.txt
  pep-0488.txt
  pep-0517.txt
  pep-0576.rst
  pep-0601.txt
  pep-0656.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Revert "pep2html: New Post-History handling"
  pep2html.py
Due: none

Revert "PRS: Update implementation"
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Revert "PRS: Update Post-History processing for inline links"
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Several PEPs: Fix Post-History with extra information
  pep-0367.txt
  pep-3135.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 681: Fix minor formatting and typographical issues (#2382)
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 655: Clarify early on that there are no grammar changes or runtime enforcement.
  pep-0655.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Clarify who must/may enforce items marked "It is an error..."
  pep-0655.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 664: Update actual 3.11a6 release date
  pep-0664.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 664: Update actual 3.11.0a6 release date (#2389)
  pep-0664.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Rephrase "syntax" -> "notation" in many places
  pep-0655.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix typos.
  pep-0684-per-interpreter-gil.rst
Due: check-direct-rfc-links

Fix the filename.
  pep-0684.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Mention no changes to CPython in abstract
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add link to dataclass docs
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add a note about the allocators.
  pep-0684.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Make typing.py monospace
  pep-0681.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add importlib.util.allow_all_extensions().
  pep-0684.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add a note about the possibility of not sharing any objects at all.
  pep-0684.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Clean up "Benefits to Consolidation".
  pep-0684.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 685: Comparison of extra names for optional distribution dependencies
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix the creation and post-history dates
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update Discussions-To
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links
