Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

Format
  pep_sphinx_extensions/tests/test_pep_lint.py
Due: none

Test check_direct_links
  pep_sphinx_extensions/tests/test_pep_lint.py
Due: none

Move to tests\pep_lint\
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Format
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Move import machinery to conftest.py
  pep_sphinx_extensions/tests/conftest.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Split out test_direct_links
  pep_sphinx_extensions/tests/pep_lint/test_direct_links.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Split out test_pep_number
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_number.py
Due: none

Split out test_headers
  pep_sphinx_extensions/tests/pep_lint/test_headers.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Split out test_email
  pep_sphinx_extensions/tests/pep_lint/test_email.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Split out test_post_url
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
  pep_sphinx_extensions/tests/pep_lint/test_post_url.py
Due: none

Split out test_date
  pep_sphinx_extensions/tests/pep_lint/test_date.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Move remaining to test_headers
  pep_sphinx_extensions/tests/pep_lint/test_headers.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Add __init__.py
  pep_sphinx_extensions/tests/pep_lint/__init__.py
Due: none

Add integration test
  pep-lint.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
  pep_sphinx_extensions/tests/peps/pep-9002.rst
Due: check-direct-rfc-links

Format
  pep_sphinx_extensions/tests/pep_lint/test_date.py
  pep_sphinx_extensions/tests/pep_lint/test_direct_links.py
  pep_sphinx_extensions/tests/pep_lint/test_email.py
  pep_sphinx_extensions/tests/pep_lint/test_headers.py
  pep_sphinx_extensions/tests/pep_lint/test_pep_number.py
  pep_sphinx_extensions/tests/pep_lint/test_post_url.py
Due: none

Rework _output_error
  pep-lint.py
Due: none

lowercase
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Format
  pep-lint.py
Due: none

Split out _validate_header
  pep-lint.py
Due: none

Add types
  pep-lint.py
Due: none

str
  pep-lint.py
Due: none

test
  pep_sphinx_extensions/tests/pep_lint/test_pep_lint.py
Due: none

Finalize PEP 723
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0723.rst
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

typo
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0703.rst
  pep-0703.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 703: Correct two spelling mistakes (#3298)
  pep-0703.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

address feedback
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

update post history
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Switch to a list-table
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add link to tomlkit; reformat code block for line length
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

spelling
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 723: Finalize (#3297)
  pep-0723.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 722: Correct a spelling error
  pep-0722.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Disable pre-commit hook
  .pre-commit-config.yaml
Due: none

PEP 722: Correct a spelling error (#3299)
  pep-0722.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0695.rst
  pep-0695.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 695: Edit for valid Julia Syntax (#3300)
  pep-0695.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
