Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$

PEP 685: Conform to PEP 12, address textual errors and improve clarity and phrasing (#2396)
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PRS: Add CNAME generation and `rel="canonical"`
  conf.py
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

legally dropped the middle name and suffix.
  AUTHOR_OVERRIDES.csv
  pep-0458.txt
  pep-0588.rst
  pep-8001.rst
  pep-8100.rst
  pep-8101.rst
  pep-8102.rst
  pep-8103.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

legally dropped the middle name and suffix. (#2398)
  AUTHOR_OVERRIDES.csv
  pep-0458.txt
  pep-0588.rst
  pep-8001.rst
  pep-8100.rst
  pep-8101.rst
  pep-8102.rst
  pep-8103.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

The PEP Rendering System is dead; long live the PEP Rendering System
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/render.yml
  CONTRIBUTING.rst
  Makefile
  PyRSS2Gen.py
  README.rst
  deploy.bash
  docs/build.rst
  docutils.conf
  generate_rss.py
  genpepindex.py
  pep-0001.txt
  pep-0009.txt
  pep-0287.txt
  pep-0465/scan-ops.py
  pep-0676.rst
  pep-8001.rst
  pep.css
  pep2html.py
  pep2rss.py
  pep_sphinx_extensions/__init__.py
  pyramid-pep-template
  roman.py
  style.css
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 685: name Paul Moore as PEP delegate
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Hugo's comments
  Makefile
  pep0/__init__.py
  pep0/constants.py
  pep0/output.py
  pep0/pep.py
Due: none

PEP 0: Fix 'Page Source (GitHub)'
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

PRS: Write `peps.rss` to `build/`
  generate_rss.py
Due: none

Don't generate a link for PEP 0
  pep_sphinx_extensions/pep_processor/html/pep_html_builder.py
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

PEP 0: Fix 'Page Source (GitHub)' (#2401)
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

Infra: Fix non-PEP txt files being included and erroring out the build
  conf.py
Due: none

The PEP Rendering System is dead; long live the PEP Rendering System (#2399)
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/render.yml
  CONTRIBUTING.rst
  Makefile
  PyRSS2Gen.py
  README.rst
  deploy.bash
  docs/build.rst
  docutils.conf
  generate_rss.py
  genpepindex.py
  pep-0001.txt
  pep-0009.txt
  pep-0287.txt
  pep-0465/scan-ops.py
  pep-0676.rst
  pep-8001.rst
  pep.css
  pep0/__init__.py
  pep0/constants.py
  pep0/output.py
  pep0/pep.py
  pep2html.py
  pep2rss.py
  pep_sphinx_extensions/__init__.py
  pyramid-pep-template
  roman.py
  style.css
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: build peps.rss from input txt and rst files
  generate_rss.py
Due: none

Lint: call pre-commit as a module using make's PYTHON
  Makefile
Due: none

Call tools inside venv
  Makefile
Due: none

Dark mode: invert some images
  pep-0001.txt
  pep-0458.txt
  pep-0480.txt
  pep-0495.txt
  pep-0525.txt
  pep-0532.txt
  pep-0550.rst
  pep-0603.rst
  pep-3147.txt
  pep_sphinx_extensions/pep_theme/static/dark.css
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Use hidden .venv dir and skip upgrading setuptools
  Makefile
Due: none

Upload rendered PEPs as GitHub artifact
  .github/workflows/render.yml
Due: none

Bump actions to v3
  .github/workflows/lint.yml
Due: none

Keep artifact for 7 days instead of 90
  .github/workflows/render.yml
Due: none

PEP 685: address review feedback - Specify the versions of pip and setuptools. - Loosen naming requirements to match PEP 508. - Use PEP 503 normalization. - Add some more references.
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix citation syntax
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Be stricter about raising errors when writing
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Smplify what tools are required to do
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Delete duplication of text
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 685: address review feedback (#2411)
  pep-0685.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Link to final version of Brunthaler paper
  pep-0659.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Upload rendered PEPs as GitHub artifact (#2410)
  .github/workflows/lint.yml
  .github/workflows/render.yml
Due: none

Infra: Remove txt exclude patterns that are now unessesary
  conf.py
Due: none

RSS: More precise globbing
  generate_rss.py
Due: none

README: Rephrase a section title
  README.rst
Due: check-direct-rfc-links

support read the docs
  build.py
  pep_sphinx_extensions/__init__.py
  readthedocs.yaml
Due: none

PRS: Enable preview rendering on pull requests (#2023)
  build.py
  pep_sphinx_extensions/__init__.py
  readthedocs.yaml
Due: none

Use native `:class:` option
  pep-0001.txt
  pep-0458.txt
  pep-0480.txt
  pep-0495.txt
  pep-0525.txt
  pep-0532.txt
  pep-0550.rst
  pep-0603.rst
  pep-3147.txt
  pep_sphinx_extensions/pep_theme/static/dark.css
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Handle new reference styles
  generate_rss.py
Due: none

Fix last warnings
  generate_rss.py
Due: none

Dark mode: Invert some images (#2409)
  pep-0001.txt
  pep-0458.txt
  pep-0480.txt
  pep-0495.txt
  pep-0525.txt
  pep-0532.txt
  pep-0550.rst
  pep-0603.rst
  pep-3147.txt
  pep_sphinx_extensions/pep_theme/static/dark.css
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 8001: Mark as Final since vote is done and process is implemented
  pep-8001.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-rfc-links
