Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

Infra: Elide redundant title and PEP fields in displayed header table
  pep_sphinx_extensions/pep_processor/transforms/pep_title.py
Due: none

Build Instructions: Fix to work with the latest Makefile (#2485)
  docs/build.rst
Due: check-direct-rfc-links

Style: Reduce vertical space of headers & improve margins/alignment
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Infra: remove another of the five instances of title at top of pages
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

Infra: but keep PEP number in the breadcrumbs
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

PEP 595: replace mismatched references with inline links
  pep-0595.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 595: use plaintext instead of Python formatting
  pep-0595.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 595: remove redundant Emacs stanza
  pep-0595.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 595: replace mismatched references with inline links (#2534)
  pep-0595.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Include mailing list link type in text for clarity, & refactor
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Infra: Pretty-format Discourse categories/threads in headers as well
  pep-0009.txt
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-rfc-links

Infra: Show friendly-name of target in Post-History link hover text
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Infra: Automatically link list addresses to list pages in Discussions-To
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Infra: Use simpler check for title in Discourse URL header processing
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Infra: Support mailing list info pages as well as archives
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Infra: Automatically trim trailing commas & whitespace in header values
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

PEP 639: Update header and footer in line with new PEP 1/12 guidance
  .github/CODEOWNERS
  pep-0639.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 639: Update implict references to use ref role
  pep-0639.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 639: Remove spurious # from link targets and make anonymous
  pep-0639.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 639: Format code blocks with appropriate syntax highlighting
  pep-0639.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 517: add missing def for the mandatory hook build_wheel signature
  pep-0517.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

consistent indentation
  pep-0517.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0011.txt
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: define tiered platform support (#2442)
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Style: Reduce space consumed by headers and improve alignment (#2533)
  pep_sphinx_extensions/pep_processor/transforms/pep_title.py
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

Infra: Improve email and link processing and rendering in headers (#2467)
  pep-0009.txt
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-rfc-links

PEP 639: Update header, footer, link, reference and code block syntax (#2531)
  .github/CODEOWNERS
  pep-0639.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: remove two of the five instances of title at top of pages (#2532)
  pep_sphinx_extensions/pep_theme/static/style.css
  pep_sphinx_extensions/pep_theme/templates/page.html
Due: none

PEP 630: Format and copyedit prior to conversion into a docs HOWTO guide (GH-2459)
  pep-0630.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: fix nit typo of my name.
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: fix a typo of a name (#2538)
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Style: Retitle inline 'Contents' to 'Table of Contents' for clarity
  pep_sphinx_extensions/pep_processor/html/pep_html_translator.py
Due: none

PEP 517: add missing def for the mandatory hook build_wheel signature (#2535)
  pep-0517.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Refine regex for Created check and fix a couple deviations
  .pre-commit-config.yaml
  pep-0102.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Add check for PEP/BDFL-Delegate header
  .pre-commit-config.yaml
  pep-0387.txt
  pep-0497.txt
  pep-0602.rst
  pep-0609.rst
  pep-0644.rst
  pep-0648.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 245: Add historical note and archive links to wiki page/email lsit
  pep-0245.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Add new check for Post-History header
  .pre-commit-config.yaml
  pep-0484.txt
  pep-0670.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Refine regex for Python-Version check and fix a couple deviations
  .pre-commit-config.yaml
  pep-0274.txt
  pep-0319.txt
  pep-0330.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Lint: Use more helpful, user-oriented descriptions for header checks
  .pre-commit-config.yaml
Due: none

Lint: Add check for RST Author field
  .pre-commit-config.yaml
  pep-0549.rst
  pep-0572.rst
  pep-0573.rst
  pep-0600.rst
  pep-0609.rst
  pep-0617.rst
  pep-8001.rst
  pep-8002.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
