Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$

Infra: Use consistent 'make html' and 'make dirhtml' (#2968)
  .github/workflows/render.yml
  Makefile
  readthedocs.yaml
Due: none

Infra: Use relative links to ease development
  pep_sphinx_extensions/__init__.py
  pep_sphinx_extensions/pep_processor/parsing/pep_role.py
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

PEP 582: Fix footnote (#2970)
  pep-0582.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 554: Simplify! (#2812)
  pep-0554.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 704: Tweak phrasing
  pep-0704.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 704: Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Add --output-dir to generate_rss.py for RTD compat
  Makefile
  generate_rss.py
Due: none

Test Python 3.12-dev
  .github/workflows/render.yml
  .github/workflows/test.yml
  tox.ini
Due: none

Use 3.11 for RTD
  readthedocs.yaml
Due: none

Remove feedgen
  generate_rss.py
  requirements.txt
Due: check-direct-rfc-links

Infra: replace feedgen/lxml dependency to test Python 3.12-dev (#2973)
  .github/workflows/render.yml
  .github/workflows/test.yml
  Makefile
  generate_rss.py
  readthedocs.yaml
  requirements.txt
  tox.ini
Due: check-direct-rfc-links

PEP 701: Incorporate more feedback from the discussion thread
  pep-0701.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-0701.rst
  pep-0701.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Use relative links to ease development (#2972)
  pep_sphinx_extensions/__init__.py
  pep_sphinx_extensions/pep_processor/parsing/pep_role.py
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Apply suggestions from code review
  pep-0704.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 702: Changes after discussion
  pep-0702.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 702: Changes after discussion (#2975)
  pep-0702.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 702: Add to Post-History
  pep-0702.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Use #121212 for dark theme bgcolor
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

PEP 495: Fix incorrect gap image (#2965)
  pep-0495-gap.svg
Due: none

Further refine PEP change ording per review feedback
  .github/PULL_REQUEST_TEMPLATE/modify-pep.md
Due: none

Add title placeholders to PR templates
  .github/PULL_REQUEST_TEMPLATE/accept-reject-pep.md
  .github/PULL_REQUEST_TEMPLATE/mark-pep-final.md
  .github/PULL_REQUEST_TEMPLATE/modify-pep.md
  .github/PULL_REQUEST_TEMPLATE/new-pep.md
Due: none

Quote YAML title fields in PR templates
  .github/PULL_REQUEST_TEMPLATE/accept-reject-pep.md
  .github/PULL_REQUEST_TEMPLATE/mark-pep-final.md
  .github/PULL_REQUEST_TEMPLATE/modify-pep.md
  .github/PULL_REQUEST_TEMPLATE/new-pep.md
Due: none

PEP 13: Update current SC members
  pep-0013.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Expand on Python build modes
  pep-0703.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add two sections to "Rejected Ideas":
  pep-0703.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Rename `--without-gil` to `--disable-gil`.
  pep-0703.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add a governance topic
  .pre-commit-config.yaml
  pep-0013.rst
  pep-0609.rst
  pep-8000.rst
  pep-8001.rst
  pep-8002.rst
  pep-8010.rst
  pep-8011.rst
  pep-8012.rst
  pep-8013.rst
  pep-8014.rst
  pep-8015.rst
  pep-8016.rst
  pep-8100.rst
  pep-8101.rst
  pep-8102.rst
  pep-8103.rst
  pep-8104.rst
  pep_sphinx_extensions/pep_zero_generator/constants.py
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Use #1111111 for dark theme bgcolor
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none

PEP 702: Add to Post-History (#2976)
  pep-0702.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 703: --disable-gil and other small changes (#2979)
  pep-0703.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Mention about the tokenize changes in the backwards compatibility section
  pep-0701.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Fix Replaces/Superseded-By/Requires links for dirhtml
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

PEP 13: Update current SC members for 2023 term (#2978)
  pep-0013.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Infra: Fix Replaces/Superseded-By/Requires links for dirhtml (#2981)
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Due: none

Infra: Use dark grey instead of dark green for dark theme background (#2977)
  pep_sphinx_extensions/pep_theme/static/style.css
Due: none
