Repository python/peps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

check-required-fields:
  name: Check PEPs have all required fields
  language: pygrep
  entry: (?-m:^PEP:(?=[\s\S]*\nTitle:)(?=[\s\S]*\nAuthor:)(?=[\s\S]*\nStatus:)(?=[\s\S]*\nType:)(?=[\s\S]*\nContent-Type:)(?=[\s\S]*\nCreated:))
  args:
  - --negate
  - --multiline

validate-pep-number:
  name: Validate PEP number field
  language: pygrep
  entry: (?-m:^PEP:(?:(?! +(0|[1-9][0-9]{0,3})\n)))
  args:
  - --multiline

validate-status:
  name: Validate PEP 'Status' field
  language: pygrep
  entry: ^Status:(?:(?! +(Draft|Withdrawn|Rejected|Accepted|Final|Active|Provisional|Deferred|Superseded|April Fool!)$))

validate-type:
  name: Validate PEP 'Type' field
  language: pygrep
  entry: ^Type:(?:(?! +(Standards Track|Informational|Process)$))

validate-content-type:
  name: Validate PEP 'Content-Type' field
  language: pygrep
  entry: ^Content-Type:(?:(?! +text\/x-rst$))

validate-pep-references:
  name: Validate PEP reference fields
  language: pygrep
  entry: ^(Requires|Replaces|Superseded-By):(?:(?! +( ?(0|[1-9][0-9]{0,3}),?)+$))

validate-created:
  name: Validate PEP 'Created' field
  language: pygrep
  entry: ^Created:(?:(?! +([0-2][0-9]|(3[01]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)-(199[0-9]|20[0-9][0-9])( \([^()]+\))?$))

validate-python-version:
  name: Validate PEP 'Python-Version' field
  language: pygrep
  entry: ^Python-Version:(?:(?! +( ?[1-9]\.([0-9][0-9]?|x)(\.[1-9][0-9]?)?\??,?)+( \([^()]+\))?$))

validate-resolution:
  name: Validate PEP 'Resolution' field
  language: pygrep
  entry: '(?<!\n\n)^Resolution: (?:(?!(https:\/\/\S*|:pep:`[a-zA-Z\d \-<>#]*?`)\n))'
  args:
  - --multiline

check-direct-pep-links:
  name: Check that PEPs aren't linked directly
  language: pygrep
  entry: dev/peps/pep-\d+

check-direct-rfc-links:
  name: Check that RFCs aren't linked directly
  language: pygrep
  entry: (rfc-editor\.org|ietf\.org)/[\.\-_\?\&\#\w/]*[Rr][Ff][Cc][\-_]?\d+

PEP 11: add mailcap to the deprecation list (#2557)
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 594: fix typos
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 686: Postpone target version to 3.15 (#2556)
  pep-0686.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

style
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
Due: none

Current and next title
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
Due: none

PEP 689 -- Semi-stable C API tier
  .github/CODEOWNERS
  pep-0689.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Write out "operating systems"
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 480: Clarify automated signing solution to remove key sharing
  pep-0480.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 480: Clarify automated signing solution to remove key sharing (#1711)
  pep-0480.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add tests for `pep_sphinx_extensions` (#2545)
  .github/workflows/render.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
  pep_sphinx_extensions/pep_zero_generator/author.py
  pep_sphinx_extensions/tests/__init__.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_footer.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_headers.py
  pep_sphinx_extensions/tests/pep_processor/transform/test_pep_zero.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_author.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_pep_index_generator.py
  pep_sphinx_extensions/tests/pep_zero_generator/test_writer.py
  pep_sphinx_extensions/tests/peps/pep-9000.rst
  pep_sphinx_extensions/tests/peps/pep-9001.rst
  pep_sphinx_extensions/tests/utils.py
  pytest.ini
  requirements.txt
  tox.ini
Due: check-direct-rfc-links

PEP 594: fix typos (#2558)
  pep-0594.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Terser comment
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
Due: none

Apply suggestions from code review
  pep-0689.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 689: Semi-stable C API tier (GH-2559)
  .github/CODEOWNERS
  pep-0689.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 689: Add Post-History
  pep-0689.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 689: Add Post-History (#2561)
  pep-0689.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Simplify tooltips
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
  pep_sphinx_extensions/pep_theme/static/style.css
  pep_sphinx_extensions/pep_theme/templates/partials/icons.html
Due: none

Fixed comment
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
Due: none

Enable resetting HTML colour scheme preferences
  pep_sphinx_extensions/pep_theme/static/colour_scheme.js
  pep_sphinx_extensions/pep_theme/static/colour_scheme.svg
  pep_sphinx_extensions/pep_theme/static/dark.css
  pep_sphinx_extensions/pep_theme/static/style.css
  pep_sphinx_extensions/pep_theme/templates/page.html
  pep_sphinx_extensions/pep_theme/templates/partials/icons.html
Due: none

Update pep-NNNN.rst
  pep-0012/pep-NNNN.rst
Due: check-direct-rfc-links

Adjust bulleted list item
  pep-0638.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Remove inline comments.
  pep-0638.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 638: Typographic fixes. Leave many comments.
  pep-0638.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add initial Discussions-To and Post-History.
  pep-0638.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 638: Typographic fixes (#2368)
  pep-0638.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update my email address to a more recent one.
  pep-0485.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 485: Update email address (#2566)
  pep-0485.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

PEP 11: Add back and update Post-History header with direct links (#2546)
  pep-0011.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Include pep 0 in api/peps.json
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
Due: none

Include the PEP index in `peps.json` (#2567)
  pep_sphinx_extensions/pep_zero_generator/pep_index_generator.py
Due: none

Added first draft for Lazy Imports PEP
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update "issue tracker" to link to GitHub Issues in PEP-1
  pep-0001.txt
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Suggested changes to lazy imports PEP.
  .github/CODEOWNERS
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Add another example of forcing eager imports.
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update pep-9999.rst
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Update Carl's email
  pep-9999.rst
Due: check-required-fields, validate-pep-number, validate-status, validate-type, validate-content-type, validate-pep-references, validate-created, validate-python-version, validate-resolution, check-direct-pep-links, check-direct-rfc-links

Path conditions:
  check-required-fields: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-number: any of: ^pep-\d+\.(rst|txt)$
  validate-status: any of: ^pep-\d+\.(rst|txt)$
  validate-type: any of: ^pep-\d+\.(rst|txt)$
  validate-content-type: any of: ^pep-\d+\.(rst|txt)$
  validate-pep-references: any of: ^pep-\d+\.(rst|txt)$
  validate-created: any of: ^pep-\d+\.(rst|txt)$
  validate-python-version: any of: ^pep-\d+\.(rst|txt)$
  validate-resolution: any of: ^pep-\d+\.(rst|txt)$
  check-direct-pep-links: any of: ^pep-\d+\.(rst|txt)$, but not: ^pep-(0009|0287|8001)\.(rst|txt)$
  check-direct-rfc-links: any of: \.(rst|txt)$
